
<mat-toolbar >
    <mat-toolbar-row class="bg"> 
      <div *ngIf= "data === 'HR'; else other_department">
        <a class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/welcomepage'"> Home </a>
        <a class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/hrdashboard'"> Stream Allocation </a>
        <a class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/stream'"> Dashboard </a> 
      </div>
      <ng-template #other_department>
        <a  class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/welcomepage'"> Home </a>
        <a  class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/project'"> Project Allocation </a>
        <a  class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/display-project'"> Dashboard </a>
        
      </ng-template>
    </mat-toolbar-row>
    
  </mat-toolbar>


