
<mat-toolbar class="bg">
    <mat-toolbar-row>
      <div *ngIf= "data === 'HR'; else other_department">
        <a class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/welcomepage'"> HOME </a>
        <a class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/hrdashboard'"> EMPLOYEELIST </a>
        <a class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/stream'"> DASHBOARD </a> 
      </div>
      <ng-template #other_department>
        <a  class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/welcomepage'"> HOME </a>
        <a  class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/project'"> EMPLOYEELIST </a>
        <a  class="active" mat-button  [routerLinkActive]="['class1']" [routerLink]="'/display-project'"> DASHBOARD </a>
      </ng-template>
    </mat-toolbar-row>
  
  </mat-toolbar>


