
  .content
  {
    position: relative;
    max-height: 440px;
    overflow-y: auto;
    
  }
  table{
    width: 100%;
  }
  .stream-card
  {
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(50, 51, 74, 5); 
    left: 4em;
    width: 90%;
    top: 1em;
    height: 460px;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .tablehead{
    
    font-size: 17px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    color: black;
    text-align: center;
    background-color: #bdbdbd;
  }
  .tablecontent
  {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font: bold;
    font-size: 15px;
    color: black;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  .mat-row:hover {
    background-color:#eeeeee;
  }