
  .content
  {
    position: relative;
    max-height: 450px;
    overflow-y: auto;
  }
  .stream-card
  {
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(100, 51, 74, 5); 
    left: 4em;
    width: 90%;
    top: 3em;
    height: 420px;
  }
  .tablehead{
    
    font-size: 17px;
    padding-top: 1em;
    padding-bottom: 1em;
    color: black;
    text-align: center;
    background-color: #bdbdbd;
  }
  .tablecontent
  {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font: bold;
    font-size: 15px;
    color: black;
    text-align: center;
  }
