
<mat-card class='dashboard-card'>
<button mat-raised-button color="primary" 
 class="btn1" [matMenuTriggerFor]="beforeMenu"><mat-icon matSuffix >visibility</mat-icon>  Chart</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="chart('streamChart')"  matTooltip="View Stream chart" matTooltipPosition ="right">STREAM</button>
  <button mat-menu-item (click)="chart('statusChart')" matTooltip="View Status chart" matTooltipPosition ="right">STATUS</button>
</mat-menu>
<mat-form-field class="filters" appearance="outline">
  <mat-icon matSuffix  >search</mat-icon>
  <mat-label class="labels" >Search</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by Employee" autocomplete="off">
</mat-form-field>
<body>
<div class="scroll">
  <table class="example-container mat-elevation-z8" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="employeename">
      <th mat-header-cell class="tablehead" *matHeaderCellDef> Employee Name </th>
      <td mat-cell class="tablecontent"  *matCellDef="let element"> {{element.EmployeeName}} </td>
    </ng-container>

  
    <ng-container matColumnDef="employeeid">
      <th mat-header-cell class="tablehead" *matHeaderCellDef> Employee ID </th>
      <td mat-cell class="tablecontent"  *matCellDef="let element"> {{element.EmployeeId}} </td>
    </ng-container>

   
    <ng-container matColumnDef="streamname">
      <th mat-header-cell class="tablehead" *matHeaderCellDef> Stream </th>
      <td mat-cell class="tablecontent"  *matCellDef="let element"> {{element.StreamName}} </td>
    </ng-container>

    <ng-container matColumnDef="MailId">
      <th mat-header-cell class="tablehead" *matHeaderCellDef> Email Id </th>
      <td mat-cell class="tablecontent"  *matCellDef="let element"> {{element.EmployeeMailId}} </td>
    </ng-container>

    <ng-container matColumnDef="DOJ">
      <th mat-header-cell class="tablehead" *matHeaderCellDef> Date of Joining</th>
      <td mat-cell class="tablecontent" *matCellDef="let element"> {{element.DOJ | date:'mediumDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell class="tablehead" *matHeaderCellDef>Status</th>
      <td mat-cell class="tablecontent" *matCellDef="let element"> {{element.StatusInfo}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell class="tablehead" *matHeaderCellDef>Action</th>
      <td mat-cell class="tablecontent" *matCellDef="let element"> <mat-icon (click)="openDialog('Remove',element)">
        delete_forever</mat-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let element"
    [ngClass]="{'make-red':element.StatusInfo == 'Removed'}"></tr>
  </table>
</div>
</body>
</mat-card>