
table{
  position: relative;
  box-shadow: 10px 10px 5px grey;
  width: 90%;
  left: 5%;
  top:3em;
  
}
.filters
{
  top: 4em;
  left: 5%;
  position: relative;
  font-size: 15px;
  width: 20%;
  font-weight: bold;
 
}
.make-red{
  background-color: lightcoral;
}
.btn1
{
  float: right;
  top: 1em;
  right: 5em;
  
}
.btn1:hover{
  transform: scale(1.15);
}
.tablecontent
{
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  font: bold;
  font-size: 15px;
  color: black;
  text-align: justify;
}
.tablehead{
  font-weight: bolder;
  font-size: 17px;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  color: black;
}
/*.tablehead{
  font-weight: bolder;
  font-size: 17px;
  padding-top: 1em;
  padding-bottom: 1em;
 
  color: black;
}
.tablecontent
{
 
  padding-top: 1em;
  padding-bottom: 1em;
  font: bold;
  font-size: 15px;
  color: black;
  text-align: justify;
}
.content
{
  position: relative;
  left: 9em;
  box-shadow: 10px 10px 5px grey;
  width: 80%;
  top: 1em;
}
.filters
{
  left: 9em;
  font-size: 15px;
  width: 80%;

}*/