<body class="content">
<mat-card class="dashboardCard">
<button mat-raised-button color="primary" class="btn1" type="submit" (click)="chart('projectchart')" >View Chart</button>
<mat-form-field class="filters" appearance="outline">
  <mat-icon matSuffix>search</mat-icon>
  <mat-label >Search</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by Employee" autocomplete="off">
  </mat-form-field>

  
    <div class="scroll">
  <table mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">
    
    <ng-container matColumnDef="name">
        <th mat-header-cell class="tablehead" *matHeaderCellDef> Name </th>
        <td mat-cell class="tablecontent" *matCellDef="let element" > {{element.EmployeeName}} </td>
      </ng-container>
    
  
    <ng-container matColumnDef="EmpId" >
      
        <th mat-header-cell class="tablehead"  *matHeaderCellDef>Employee Id</th>
        <td mat-cell class="tablecontent"  *matCellDef="let element">{{element.EmployeeId}} </td>
      
        </ng-container>
    
    <ng-container matColumnDef="stream">
      <th mat-header-cell class="tablehead" *matHeaderCellDef> Stream </th>
      <td mat-cell class="tablecontent" *matCellDef="let element"> {{element.StreamName}} </td>
    </ng-container>

    <ng-container matColumnDef="ProjectName">
        <th mat-header-cell class="tablehead" *matHeaderCellDef> Project </th>
        <td mat-cell class="tablecontent"  *matCellDef="let element"> {{element.ProjectName}} </td>
      </ng-container>

      <ng-container matColumnDef="startdate">
        <th mat-header-cell class="tablehead" *matHeaderCellDef> Start Date </th>
        <td mat-cell class="tablecontent" *matCellDef="let element"> {{element.StartDate|date:'mediumDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="enddate">
        <th mat-header-cell class="tablehead" *matHeaderCellDef> End Date </th>
        <td mat-cell class="tablecontent" *matCellDef="let element"> {{element.EndDate | date:'mediumDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell class="tablehead" *matHeaderCellDef> Role Type </th>
        <td mat-cell class="tablecontent" *matCellDef="let element"> {{element.RoleName}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell class="tablehead" *matHeaderCellDef> Status </th>
        <td mat-cell class="tablecontent" *matCellDef="let element">
        <div *ngIf="element.StatusInfo == 'Reallocate';else otherStatus"> 
        <a class="hRef" 
          (click)="ExtendProject(element)">Retain</a>
      </div>
        <ng-template #otherStatus>
          {{element.StatusInfo}} 
        
        </ng-template>
      </td>
      </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
     
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let element"
    [ngClass]="{'make-red':element.StatusInfo == 'Reallocate'}"></tr>
    
  </table>
</div>
 

</mat-card>
</body>