
<body>
<mat-card class="project-card" id="block">

    <mat-card-header>
        <h4 class="header">PROJECT ALLOCATION</h4>
  </mat-card-header>
<div class = "project-container" *ngIf= "ProjectStatus == 'Allocated' || ProjectStatus == 'Deployed'" >
    <i class="material-icons" id="goback" (click)="back()">
        arrow_back
        </i>
    <form [formGroup]="ProjectForm" autocomplete="off">
        <mat-card-content>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <mat-form-field class="project" appearance="outline">       
                         <mat-select required formControlName="ProjectName" [ngClass]="displayFieldCss('ProjectName')" >
                              <mat-option  *ngFor="let Proj of ProjectDetails" [value]="Proj">{{ Proj.projectname }}</mat-option>
                         </mat-select>
                         <mat-label >PROJECT NAME</mat-label>
                       </mat-form-field>
                       <app-field-error-display [displayError]="isFieldValid('ProjectName')"  errorMsg="Please choose the Project Name">
                    </app-field-error-display>
                        </td>

                        <td>
                            <mat-form-field class="roles" appearance="outline">
                         <mat-select required formControlName="Roletype" [ngClass]="displayFieldCss('Roletype')">
                              <mat-option *ngFor="let role of RoleDetails" [value]="role">{{ role.rolesname }}</mat-option>
                         </mat-select>
                         <mat-label>ROLE TYPE</mat-label>      
                       </mat-form-field>
                       <app-field-error-display [displayError]="isFieldValid('Roletype')"  errorMsg="Please choose the Role Type">
                    </app-field-error-display>
                        </td>
                      
                    </tr><br>
                    <tr>
                        <th scope="row"></th>
                        <td class="fromdate">
                            <mat-label class="name"></mat-label> 
                            
                              <mat-form-field  class="fromDate" appearance="outline">
                                     <input matInput [matDatepicker]="picker1" placeholder="From Date"  formControlName="fromDate" [ngClass]="displayFieldCss('fromDate')">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                              <app-field-error-display [displayError]="isFieldValidFromDate('fromDate')"  errorMsg="Please Enter From Date">
                            </app-field-error-display>
                              
                        </td>
                        <td class="todate">
                            <mat-label class="name"></mat-label> 
                           
                            
                            <mat-form-field  class="toDate" appearance="outline">
                                   <input matInput [matDatepicker]="picker2" placeholder="To Date"  formControlName="toDate" [ngClass]="displayFieldCss('toDate')">
                                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                  <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            <app-field-error-display [displayError]="isFieldValidToDate('toDate')"  errorMsg="Please Enter To Date">
                            </app-field-error-display> 
                            
                      </td>
                      </tr>
                </tbody>
            </table>
        </mat-card-content>
        <mat-card-actions *ngIf = "ProjectStatus == 'Allocated'">
            <button [disabled]="!ProjectForm.valid" mat-raised-button color="primary" class="btn1" type="submit" (click)="onSubmit()" >Submit</button>
            <button  mat-raised-button color="warn" class="btn2" (click)="reset()" type="reset">Clear</button>
         </mat-card-actions>
         <mat-card-actions *ngIf = "ProjectStatus == 'Deployed'">
            <button [disabled]="!ProjectForm.valid" mat-raised-button color="primary" class="btn1" type="submit" (click)="onUpdate()" >Submit</button>
            <button  mat-raised-button color="warn" class="btn2" (click)="reset()" type="reset">Clear</button>
         </mat-card-actions>
    </form>

</div>
<!--<ng-template #otherStatus>   ;else otherStatus-->
  
    <form [formGroup]="ProjectForm" *ngIf= "ProjectStatus == 'Reallocate'" autocomplete="off">

    <mat-card-content>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td class="proj2">
                         <mat-form-field appearance="outline" >     
                           <input matInput [readonly]="true" placeholder="Project Name" value="{{prjname}}">
                            <mat-label >Project Name</mat-label>
                          </mat-form-field> 
                    </td>

                    <td class="role2">
                        <mat-form-field  appearance="outline" >     
                            <input matInput [readonly]="true" placeholder="Role Name" value="{{rolename}}">
                             <mat-label >Role Name</mat-label>
                           </mat-form-field> 
                    </td>
                  
                </tr><br>
                <tr>
                    <th scope="row"></th>
                    <td class="fromdate2">
                        <mat-form-field  appearance="outline" >     
                            <input matInput [readonly]="true" placeholder="From Date" value="{{begindate | date:'mediumDate'}}">
                             <mat-label >From Date</mat-label>
                           </mat-form-field> 
                          
                    </td>
                    <td class="todate">
                        <mat-label class="name"></mat-label> 
                       
                        
                        <mat-form-field  class="toDate" appearance="outline">
                               <input matInput [matDatepicker]="picker2" placeholder="To Date"  formControlName="toDate" [ngClass]="displayFieldCss('toDate')">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <app-field-error-display [displayError]="isFieldValidToDateNew('toDate')"  errorMsg="Please Enter To Date">
                        </app-field-error-display> 
                        
                  </td>
                  </tr>
            </tbody>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button  mat-raised-button color="primary" class="btns1" type="submit" (click)="onModify()" >Submit</button>
        <button  mat-raised-button color="warn" class="btns2" (click)="goBack()" type="reset">Back</button>
     </mat-card-actions>
</form>
<!--</ng-template>
<div *ngIf = "ProjectStatus == 'Deployed'">
    <form>
        <mat-card-content>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td class="proj2">
                             <mat-form-field appearance="outline" >     
                               <input matInput  placeholder="Project Name" value="{{prjname}}">
                                <mat-label >Project Name</mat-label>
                              </mat-form-field> 
                        </td>
    
                        <td class="role2">
                            <mat-form-field  appearance="outline" >     
                                <input matInput  placeholder="Role Name" value="{{rolename}}">
                                 <mat-label >Role Name</mat-label>
                               </mat-form-field> 
                        </td>
                      
                    </tr><br>
                    <tr>
                        <th scope="row"></th>
                        <td class="fromdate2">
                            <mat-form-field  appearance="outline" >     
                                <input matInput  placeholder="From Date" value="{{begindate | date:'mediumDate'}}">
                                 <mat-label >From Date</mat-label>
                               </mat-form-field> 
                              
                        </td>
             
                      </tr>
                </tbody>
            </table>
        </mat-card-content>

    </form>
</div>-->
</mat-card>
</body>
