.project-container
{
    position: relative;
    text-align: center;
    
}
.project-card{
    position: relative;
    width: 60%;
    left: 16em;
    top: 1.5em; 
    margin-top: 0em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(50, 51, 74, 5); 
    background-color: var(--primary-color);
    color: var(--text-color);
  }
#goback
{
    cursor: pointer;
    position: relative;
    right: 16em;
    bottom: 3em;
    color: var(--text-color);
}

.header
{
    left: 9em;
    font-size: 25px;
    position: relative;
    font-weight: bold;
    
}
.label
{
    color: var(--text-color);
}
.table
{
    position: relative;   
}
.btn1
{
    right: 1.5em;
}
.btn2
{
    left: 1.5em;
}
.project
{
    left: 11em;
    
}
.roles
{
    left: 17em;
}
.fromDate
{
    left: 11em;
    
}
.toDate
{
    left: 17em;
}
.proj2
{
    font-size: 15px;
    
    left: 8em;
    position: relative;
}
.role2
{
    font-size: 15px;
    left: 16em;
    position: relative;
}
.fromdate2
{
    font-size: 15px;
    left: 8em;
    position: relative;
}
.btns1,.btns2
{
    position: relative;
    left: 22em;
}