.project-container
{
    position: relative;
    text-align: center;
    
}
.project-card{
    position: relative;
    width: 60%;
    left: 16em;
    top: 4em; 
    margin-top: 0em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(100, 51, 74, 5); 
  }
#goback
{
    cursor: pointer;
}


.header
{
    left: 9em;
    font-size: 25px;
    position: relative;
    font-weight: bold;
    bottom: 2em;
}
.table
{
    position: relative;   
}
.btn1
{
    right: 1.5em;
}
.btn2
{
    left: 1.5em;
}
.project
{
    left: 11em;
    
}
.roles
{
    left: 17em;
}
.fromDate
{
    left: 11em;
}
.toDate
{
    left: 17em;
}
.proj2
{
    font-size: 18px;
    left: 6em;
    position: relative;
}
.role2
{
    font-size: 18px;
    left: 13em;
    position: relative;
}
.fromdate2
{
    font-size: 18px;
    left: 6em;
    position: relative;
}
.btns1,.btns2
{
    position: relative;
    left: 22em;
}