h5
{
    position: relative;
    text-align: center;
    font-weight: bolder;
    color: var(--text-color);
}
.content
{
    left: 4em;
    position: relative;
    padding: 1em;
    width: 18em;
    color: var(--text-color);
   
}
.label{
    color: var(--text-color);
    font-size: 15PX;
}
.button1
{
    position: relative;
    left: 7.5em;
    padding : 0.25em,1em,0.25em,1em;
    
}
.button2
{
    position: relative;
    left: 9.5em;
    padding : 0.25em,1em,0.25em,1em;
}

body{
    overflow: hidden;
    background-color: var(--primary-color);
    color: var(--text-color);
}