.card
{
    position: relative;
    overflow: hidden;
    text-align: center;
    
}
.cardcontent
{
    top:2em;
    height: 200px;
    position: relative;
}
.title
{
    position: relative;
    left: 6em;
    top:2em;
}
.oldpass
{
    top:3.5em;
    position: relative;
}
.btns
{
    top: 7em;
    position: relative;
}
.btn1
{
    right: 2.5em;
    position: relative;
}
.btn2
{
    left: 2.5em;
    position: relative;
}
.cardcontent1
{
    height: 230px;
    position: relative;
    top:2em;
}
.form1
{
    position: relative;
    top: 1em;
}
.btn{
    position: relative;
    top: 1em;
}
.displays
{
    position: relative;
    font-size: 18px;
    font-weight: 400;
}
.make-red
{
    color: red;
}
.make-green
{
    color : green;
}
