.card
{
    position: relative;
    overflow: hidden;
    text-align: center;
}
.cardcontent
{
    height: 200px;
    position: relative;
}
.title
{
    position: relative;
    left: 5em;
}
.oldpass
{
    top:3em;
    position: relative;
}
.btns
{
    top: 5em;
    position: relative;
}
.btn1
{
    right: 1.5em;
    position: relative;
}
.btn2
{
    left: 1.5em;
    position: relative;
}
.cardcontent1
{
    height: 230px;
    position: relative;
}
.form1
{
    position: relative;
    top: 1em;
}
.btn{
    position: relative;
    top: 1em;
}
.display
{
    position: relative;
    font-size: 18px;
}
.make-red
{
    color: red;
}
.make-green
{
    color : green;
}
