.row
{
    position: relative;
    width: 60%;
    left: 12em;
    top:2em;
    
}
.card
{
    bottom: 0.8em;    
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(50, 51, 74, 5);
}
.personimage
{
    position: relative;
    height: 90%;
    width: 75%;
    right: 12em;
    bottom: 2em;
}
.name{
    font-weight: bold;
    font-size: 30px;
    bottom: 0.5em;
    position: relative;
}
h6{
    font-weight: bold;
    font-size: 18px;
}
