<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<!--<script type="text/javascript" src="bower_components/angular-weather/src/angular-weather.js"></script>

<script src="node_modules/angular-weather-widget/bundles/angular-weather-widget.umd.js"></script>-->

<body>
<div class="row" *ngIf ="userClaims">
  
    <div class="col s12 m7">
      <div class="card">
        <br>
        <div><h5 class="name">Hello {{userClaims.COEname}} </h5></div>
        <div class="card-content">
          <div class='row' [ngSwitch]="userClaims.COEname">  
            <div *ngSwitchCase="'Srivatsan'"><img class="personimage" src="../../assets/Srivathsan-Santhanam.jpg" >
            </div>  
            <div *ngSwitchCase="'Srinithi'"><img class="personimage" src="../../assets/srinidhi.jpg" >
            </div>  
            <div *ngSwitchDefault><img class="personimage" src="../../assets/sugitra.jpg" ></div>  
        </div>  

          <h6>Username:{{userClaims.Username}}</h6>
          <h6>E-Mail ID: {{userClaims.COEmailId}}</h6>
          <h6>Department: {{userClaims.StreamName}}</h6>
        
        </div>
      </div>
      
    </div>
    
      <div class= "greeting-card">
        <h5 class="greeting-msg">Welcome to Project Allotment Portal !</h5>

        <div [ngSwitch]="value">
          <div  *ngSwitchCase="'Good Morning'"><img class="greetingimage" src="../../assets/Morning.PNG" >
            <h6 class="day">GOOD MORNING !</h6>
          </div> 
          <div  *ngSwitchCase="'Good Afternoon'"><img class="greetingimage" src="../../assets/noon.PNG" >
            <h6 class="day">GOOD AFTERNOON !</h6>
          </div> 
          <div *ngSwitchCase="'Good Evening'"><img class="greetingimage" src="../../assets/evening.PNG" >
            <h6 class="day">GOOD EVENING !</h6>
            <!--<angular-weather city="Chennai"></angular-weather>-->

          </div> 

        </div>
      </div>
   
  </div>
</body>


          <!--  <div *ngIf ="userClaims.COEname === 'Srivatsan'">
        <img class="personimage" src="../../assets/Srivathsan-Santhanam.jpg" >
        </div>
        <div *ngif= "userClaims.COEname ==='Srinithi'">
          <img class="personimage" src="../../assets/srinidhi.jpg" >
        </div>
        <ng-template #other_image >
          <img class="personimage" src ="../../assets/srinidhi.jpg">
        </ng-template>-->