<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" >
        <div>
            <img class="logo" src ="../../../assets/logo.png">
        </div>
        <div>
            <h1 id="header">PROJECT ALLOTMENT PORTAL</h1>
        </div>
        <div >
            <i id="icons1" class="small material-icons" >mail</i>
            <i id="icons2" class="small material-icons"  (click)="Logout()">person</i>
        
    </div>
    </mat-toolbar-row>
</mat-toolbar>

