.logo
{
    height: 6vh;
    position: relative;
    
}
#icons1
{
    padding: 0.8em;
    position: relative;
    cursor: pointer;
}
#headr
{
    font-size: 27px;
    font-weight: 450;
    
}
#icons2
{
    cursor: pointer;
}
#icons1:hover,#icons2:hover{
    transform: scale(1.15);
}
.drop-btn
{
    cursor: pointer;
}
.btns:hover
{
    background-color:white;
}
.btns
{
    text-decoration: none;
    color: black;
    
}
.avatar
{
    right: 1em;
    position: relative;
    top:0.3em;
}

