.logo
{
    height: 6vh;
    position: relative;
    
}
#icons1
{
    padding: 0.8em;
    position: relative;
    cursor: pointer;
}
#headr
{
    font-size: 27px;
    font-weight: 450;
    
}
#icons2
{
    cursor: pointer;
}
#icons1:hover,#icons2:hover{
    transform: scale(1.15);
}
.drop-btn
{
    cursor: pointer;
}
.btns:hover
{
    background-color:white;
}
.btns
{
    text-decoration: none;
    color: black;
    
}
.notify
{
    position: relative;
    right: 2em;
    top: 1em;
    
    
}
.avatar
{
    position: relative;
    bottom: 1em;
    cursor: pointer;
}
.dropdown
{
    right:2.2em;
    position: relative;
    font-size: 15px;
    color: #3f51b5;
    top:0.2em;

}
.themeicon
{
    position: relative;
    color: white;
    top: 0.1em;
}