<mat-toolbar color="primary" class="header">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" >
        <div>
            <img class="logo" src ="../../../assets/logo.png">
        </div>
        <div>
            <h2 id="headr">PROJECT ALLOTMENT PORTAL</h2>
        </div>
  <!--  <div>
            
            <i id="icons1" class="small material-icons" >mail</i>
            <i id="icons2" class="small material-icons"  (click)="Logout()">person</i>            
    </div> -->

    <div [ngSwitch]="username" class="avatar" >
        <div *ngSwitchCase="'Srivatsan'">
            <mat-icon [matBadge]="count" matBadgeColor="warn" matBadgeOverlap="false"><ngx-avatar  src="../../../assets/Srivathsan-Santhanam.jpg" size="40"[matMenuTriggerFor]="beforeMenu">
            </ngx-avatar></mat-icon>
        </div>
        <div *ngSwitchCase="'Srinithi'">
            <mat-icon [matBadge]="count" matBadgeColor="warn" matBadgeOverlap="false"><ngx-avatar  src="../../../assets/srinidhi.jpg" size="40" [matMenuTriggerFor]="beforeMenu">
            </ngx-avatar></mat-icon>
        </div>
        <div *ngSwitchDefault>
            <mat-icon [matBadge]="count" matBadgeColor="warn" matBadgeOverlap="false"><ngx-avatar src="../../../assets/sugitra.jpg" size="40"  [matMenuTriggerFor]="beforeMenu" >
            </ngx-avatar></mat-icon>
           
          
        </div>
        <mat-menu #beforeMenu="matMenu" xPosition="before" class="drop-btn">
            <button mat-menu-item><a class="btns" href='https://www.google.com/intl/en-GB/gmail/about/#'>My Account</a></button>
            <button mat-menu-item class="btns" (click)="ChangePassword()">Change Password</button>
            <button mat-menu-item class="btns" (click)="Logout()">Log Out</button>
          </mat-menu>
    </div>
    </mat-toolbar-row>
</mat-toolbar>

