<mat-toolbar color="primary" class="header">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" >
        <div>
            <img class="logo" src ="../../../assets/logo.png">
        </div>
        <div>
            <h2 id="headr">PROJECT ALLOTMENT PORTAL</h2>
        </div>
    <div>
            
            <mat-slide-toggle [formControl]="darkTheme" class="toggle" (click)="changetheme()" color = "warn">
                <mat-icon class="themeicon"  >{{show ? 'wb_sunny' : 'nights_stay'}}</mat-icon>
            </mat-slide-toggle>           
        
    </div> 
    <form [formGroup]="notifyForm" class="notifyform" autocomplete="off">
                 
    <div [ngSwitch]="username"  >
        <div *ngSwitchCase="'Srivatsan'">
            <mat-icon class="notify" [matBadge]="count" matBadgeColor="warn" >notifications
                       <mat-select class="dropdown" formControlName="notification">
                    <mat-option *ngFor="let alert of notify" [value]="alert" (click)="navigate()">{{alert.EmployeeName}} - {{alert.StatusInfo}}</mat-option>
                    
                </mat-select>
            </mat-icon>
            <ngx-avatar class="avatar" src="../../../assets/Srivathsan-Santhanam.jpg" size="40"[matMenuTriggerFor]="beforeMenu">
            </ngx-avatar>
        </div>
        <div *ngSwitchCase="'Srinithi'">
            <mat-icon class="notify" [matBadge]="count" matBadgeColor="warn">notifications
                <mat-select class="dropdown" formControlName="notification">
                    <mat-option *ngFor="let alert of notify" [value]="alert" (click)="navigate()">{{alert.EmployeeName}} - {{alert.StatusInfo}}</mat-option>
                    
                </mat-select>
            </mat-icon>
            <ngx-avatar class="avatar" src="../../../assets/srinidhi.jpg" size="40" [matMenuTriggerFor]="beforeMenu">
            </ngx-avatar>
        </div>
        <div *ngSwitchDefault>
            <mat-icon class="notify" [matBadge]="count" matBadgeColor="warn" >notifications
                <mat-select class="dropdown" formControlName="notification">
                    <mat-option *ngFor="let alert of notify" [value]="alert" (click)="navigatestream()">{{alert.EmployeeName}} - {{alert.StatusInfo}}</mat-option>
                    
                </mat-select>
            </mat-icon>
            <ngx-avatar class="avatar" src="../../../assets/sugitra.jpg" size="40"  [matMenuTriggerFor]="beforeMenu" >
            </ngx-avatar>
                    
        </div>
        

        <mat-menu #beforeMenu="matMenu" xPosition="before" class="drop-btn">
            <button mat-menu-item class="btns"><mat-icon>email</mat-icon><a class="href" href='https://www.google.com/intl/en-GB/gmail/about/#'>My Account</a></button>
            <button mat-menu-item class="btns" (click)="ChangePassword()"><mat-icon>lock</mat-icon>Change Password</button>
            <button mat-menu-item class="btns" (click)="Logout()"><mat-icon>exit_to_app</mat-icon>Log Out</button>
          </mat-menu>
    </div>
</form>
    </mat-toolbar-row>
</mat-toolbar>

