.tablehead{
  font-weight: bolder;
  font-size: 17px;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}
.tablecontent
{
  padding-top: 1em;
  padding-bottom: 1em;
  font: bold;
  font-size: 15px;
  color: black;
  text-align: justify;
}
.content
{
  position: relative;
  left: 9em;
  box-shadow: 10px 10px 5px grey;
  width: 80%;
  top: 1em;
}